<section class="order about">
  <div class="container">
    <div class="">
      <div class="order-info-title double-title"><span>Лучшая</span> итальянская пиццерия</div>
      <div class="order-info-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias aliquid aspernatur consectetur cum
        distinctio, ea iste maxime mollitia, officiis optio quaerat quas quasi quisquam reprehenderit temporibus unde
        voluptates? Doloribus.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias aliquid aspernatur consectetur cum
        distinctio, ea iste maxime mollitia, officiis optio quaerat quas quasi quisquam reprehenderit temporibus unde
        voluptates? Doloribus.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias aliquid aspernatur consectetur cum
        distinctio, ea iste maxime mollitia, officiis optio quaerat quas quasi quisquam reprehenderit temporibus unde
        voluptates? Doloribus.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias aliquid aspernatur consectetur cum
        distinctio, ea iste maxime mollitia, officiis optio quaerat quas quasi quisquam reprehenderit temporibus unde
        voluptates? Doloribus.
      </div>
    </div>
    <div class="about-image">
      <img src="../../../../assets/images/pizza_big.png" alt="Pizza">
      <img src="../../../../assets/images/pizza_big.png" alt="Pizza">
    </div>
  </div>
</section>

<app-popup data="about component"></app-popup>
