<section class="products">
  <div class="container">
    <h2 class="products-title">Описание пиццы</h2>
    <div class="products-item">
      <custom-title [title]="product.title | uppercase"></custom-title>

      <div class="product-image" *ngIf="product.image">
        <img src="{{product.image}}">
      </div>

      <div class="product-description">{{product.description | wordUpper: ['томат', 'сыр', 'сос']}}</div>
      <div class="product-action" #elem>
        <a class="btn btn-add-to-cart" routerLink="/order" [queryParams]="{product: product.title}">В корзину</a>
        <a class="btn btn-white" [routerLink]="['/products']">Назад</a>
      </div>
    </div>
  </div>
</section>
